@{
    ViewData["Title"] = "Stranica nije pronađena";
}

<div style="text-align: center; margin-top: 50px;">
    <img src="~/images/eopcina_logo_bw.png" alt="404" style="max-width: 400px;" />
    <h1>Stranica nije pronađena</h1>
    <p>Stranica koju tražite ne postoji. <a asp-area="" asp-controller="Home" asp-action="Index">Vrati me nazad</a></p>
</div>
