@{
    ViewData["Title"] = "Greška";
}

<div style="text-align: center; margin-top: 50px;">
    <img src="~/images/eopcina_logo_bw.png" alt="Greška" style="max-width: 400px;" />
    <h1>Došlo je do greške</h1>
    <p>Pokušajte ponovo kasnije ili se obratite podršci. <a asp-area="" asp-controller="Home" asp-action="Index">Vrati me na početnu.</a></p>
</div>
