@model eOpcina.Models.Sablon

@{
    ViewData["Title"] = "Izbriši šablon";
}

<h1>Izbriši šablon</h1>

<h3>Brisanje šablona je nepovratna akcija.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tip dokumenta</dt>
        <dd class="col-sm-10">@Model.TipDokumenta</dd>
        <dt class="col-sm-2">PDF Šablon</dt>
        <dd class="col-sm-10">
            @(Model.PDFSablona != null && Model.PDFSablona.Length > 0 ? "Postavljen" : "Nije postavljen")
        </dd>
    </dl>
</div>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Izbriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</form>
