@model eOpcina.Models.Sablon

@{
    ViewData["Title"] = "Šablon detalji";
}

<h1>Detalji šablona</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tip dokumenta</dt>
        <dd class="col-sm-10">@Model.TipDokumenta</dd>
        <dt class="col-sm-2">PDF Šablon</dt>
        <dd class="col-sm-10">
            @(Model.PDFSablona != null && Model.PDFSablona.Length > 0 ? "Postavljen" : "Nije postavljen")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</div>
