@model eOpcina.ViewModels.ZahtjevCreateViewModel
@using eOpcina.ViewModels

@{
    ViewData["Title"] = "Create";
}

@using System.ComponentModel.DataAnnotations
@using System.Reflection
@{
    var razlogOpcije = Enum.GetValues(typeof(Razlog))
        .Cast<Razlog>()
        .Select(r => new SelectListItem
                {
                    Value = ((int)r).ToString(),
                    Text = r.GetType()
                             .GetMember(r.ToString())
                             .First()
                             .GetCustomAttribute<DisplayAttribute>()?.Name ?? r.ToString()
                });

    var tipoviDokumenta = Enum.GetValues(typeof(TipDokumenta))
        .Cast<TipDokumenta>()
        .Select(t => new SelectListItem
                {
                    Value = ((int)t).ToString(),
                    Text = t.GetType()
                             .GetMember(t.ToString())
                             .First()
                             .GetCustomAttribute<DisplayAttribute>()?.Name ?? t.ToString()
                });
}

<h1>Pošalji zahtjev</h1>


<hr />
@if (User.IsInRole("Korisnik") || User.IsInRole("Zaposlenik"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="TipDokumenta" class="control-label"></label>
                    <select asp-for="TipDokumenta" class="form-control">
                        @foreach (var item in tipoviDokumenta)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="RazlogZahtjeva" class="control-label"></label>
                    <select asp-for="RazlogZahtjeva" class="form-control">
                        @foreach (var item in razlogOpcije)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="NacinPreuzimanja" value="PrekoMaila" />
                    <label class="form-check-label">Preuzimam dokument putem maila</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="NacinPreuzimanja" value="UOpcini" />
                    <label class="form-check-label">Preuzimam dokument u općini</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
