@model eOpcina.Models.Korisnik

<h2>Profil korisnika</h2>

<div>
    <p><strong>Ime i prezime:</strong> @Model.Ime @Model.Prezime</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <!-- Dodaj ostale podatke korisnika ovdje -->
</div>
